 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

#topnavbar {
  background: #bd86d293;
  width: 100%;
  padding: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
}

#topnavbar .dropdown-menu a:hover {
  color: #8a7c93;
}
#topnavbar .nav-item {
  margin: auto 8px;
  font-size: 20px;
  color: #ffffff;
}
#topnavbar a {
  padding-left: 14px;
  padding-right: 14px;
}
#topnavbar .dropdown-menu {
  background: #8a7c93;
}
a.navbar-brand {
  color: #8a7c93;
}

.jumbotron-fluid {
  background-color: #8a7c93;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 90%;
  justify-items: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

img {
  padding: 15px;
  margin: 15px;
  object-fit: cover;
}

.item {
  width: 46%;
  height: 62%;
  margin: 20px;
  padding: 10px;
  background-color: #8a7c93;
  text-align: left;
}

.item-one {
  width: 80%;
  height: 80%;
  background-color: #fff;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.card {
  justify-content: center;
  background-color: #fadadd;
  width: 33%;
  padding: 20px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

h3 {
  font-size: 26px;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

h2 {
  font-size: 34px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

a:hover {
  background-color: #f2d2bd;
  text-align: center;
}

.footer {
  padding: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  align-items: center;
}
